<?xml version="1.0"?>
<!--
/**
 * @category   Ktpl
 * @package    Ktpl_RequestForQuote
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="requestforquote" frontName="requestforquote">
            <module name="Ktpl_RequestForQuote" />
        </route>
    </router>
</config>